body {
    margin: 0;
    background-color: #A0A0A0; 
}

.object-container {
  display: flex;
  flex-direction: column;
  width: 850px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #c12a00;
   border: 20px solid #ee7002;
   border-radius: 10px;
}

.title-container {
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 80px;
  color: #fee100;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.grid-container {
  border: 10px solid #ee7002;
  border-radius: 10px;
  background-color: #C0C0C0;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-self: center;
   
}

.sketch-box {
    border: 1px solid #808080;
    margin: 0;
    padding: 0;
}

.function-btn-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-bottom: -50px;
  margin-top: -10px;
}

.function-btn-1 {
  width: 80px;
  height: 80px;
  background-color:#C0C0C0;
  border-radius: 25px;
  background-image: url('./images/buttonblack-img.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.1s;
}

.function-btn-1:hover {
  background-color: #808080;
}

.input-btn-container {
  align-self: center;
  margin: 0px;
}

.grid-size-btn {
  background-color: #11a1e2;
  border: none;
  color: #fee100;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  height: 80px;
  transition: background-color 0.1s;
}

.grid-size-btn:hover {
  background-color: #0085b6;
}

.function-btn-2 {
  width:80px;
  height: 80px;
  border-radius: 20px;
  background-image: url('./images/eraser-img.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #C0C0C0;
  transition: background-color 0.1s;
}

.function-btn-2:hover {
  background-color: #808080;
}

.function-btn-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 550px;
  color: #fee100;
  font-family: "Courier New", monospace;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: -10px;
  cursor: default;
}