body {
    margin: 0;
    background-color: #A0A0A0; 
}

.object-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 850px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #ca282c;
   border: 20px solid #e89c1e;
   border-radius: 10px;
}

.title-container {
  border: 1px solid red;
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 60px;
  color: #293646
}

.input-btn-container {
  align-self: center;
}

.grid-container {
  border: 10px solid #e89c1e;
  border-radius: 10px;
  background-color: #C0C0C0;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-self: center;
   
}

.sketch-box {
    border: 1px solid #808080;
    margin: 0;
    padding: 0;
}

.function-btn-container {
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.function-btn-1 {
  width: 75px;
  height: 75px;
  border: 1px solid red;
}

.function-btn-2 {
  width: 75px;
  height: 75px;
  border: 1px solid red;
}